[ req ]
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
countryName         = JP
commonName          = My Sample Private CA 

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints    = critical,CA:true
keyUsage            = cRLSign, keyCertSign
